<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Admin</title>
    <link rel="stylesheet" href="/login/login.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>

<body>
    <div class="contenedorLogin">
        <form method="post" class="login-form">
            <h2>Iniciar sesión</h2>
            <% if (typeof error !=="undefined" ) { %>
                <div class="alerta-error">
                    <%= error %>
                </div>
                <% } %>
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" id="username" name="username" required autocomplete="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="password" required autocomplete="current-password">
                    </div>
                    <button type="submit" class="btn-login">Ingresar</button>
        </form>
        <button class="btn-acces">Acceso Rapido</button>
    </div>
    <script>
        document.getElementsByClassName("btn-acces")[0].addEventListener("click", async () => {
            try {
                const res = await fetch("/api/usuarios/admin/fast-access")
                if (!res.ok) throw new Error("No se pudo obtener acceso rapido");
                const data = await res.json();
                document.getElementById("username").value = data.username;
                document.getElementById("password").value = data.password;
            } catch (error) {
                alert("Error al obtener fast access");
            }
        })
    </script>
</body>

</html>